<p>Forgot your password?</p>

<%= form_for :user do |f| %>

	<div class="field">
		<%= f.label :email %> <br />
		<%= f.text_field :email %>
	</div>
	
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
	
<% end %>