<p>Request link to reset password</p>


<%= form_for :user do |f| %>

		<div class="field">
		<label for="email">Email</label> <br />
		<%= text_field_tag 'email' %>
		</div>
	


	<div class="actions">
		<%= f.submit "reset" %>
	</div>

		
<% end -%>