
.container {
width: 1110px;
padding : 10px 50px 10px 50px;
}

body {
background: #33CCFF;
padding: 10px 20px;
}

h1 {
font-size:36px;
}



header {
padding-top:20px;
}

header img {
padding: 1em;
background: #fff;
}

section {
margin-top:1em;
font-size:120%;
padding: 20px;
background: #fff;
clear: both;
}

.round {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

/* links */
/*
a {
color: #09c;
text-decoration: none;
}

a:hover {
color: #069;
text-decoration: underline;
}

/* nav */
/*
nav {
background:white;
padding: 0 0.7em;
white-space:nowrap;
float: right;
}

nav ul {
margin: 0;
padding: 0;
}

nav ul li {

list-style-type: none;
display: inline-block;
padding: 0.2em 0;
}

nav ul li a {
padding: 0 5px;
font-weight: bold;
}

nav ul li a:visited {
color: #09c;
}

nav ul li a:hover {
text-devoration: underline;
}
*/
a.signup_button {
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
width: 190px;
color: #fff;
background: #006400;
font-size:150%;
font-weight: bold;
padding: 20px;
}

div.field, div.actions {
	margin-bottom: 10px;
}


/* Error styles */

.field_with_errors {
margin-top: 10px;
padding: 2px;
background-color: red;
display: table;
}

.field_with_errors label {
color: #fff;
}




div.links {
color:red;
}


/* Styles for menus */

.boomenu {
font: bold 14px Arial;
white-space:nowrap;
}

.boomenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
float: right;
}

.boomenu ul li{
position:relative;
display: inline;
float: left;
z-index: 9999 !important;
}

.boomenu ul li a {
	display: block;
	color: white;
	padding : 8px 20px;
	padding-left: 0px;
	color: #2d2b2b;
	text-decoration: none;
	text-transform: uppercase;

	}
	
.boomenu ul li:last-child a {
	padding-right: 0px;
}	
* html .boomenu ul li a {
	display: inline-block;
}

.boomenu ul li a:link, .boomenu ul li a:visited{
	color: #FFFFFF
}

.boomenu ul li a.selected{
color: #FFFFFF;
}

.boomenu ul li a:hover {
	color: #666666;
	
}	



/* sub menu */

.boomenu ul li ul{
position: absolute;
left: 0;
display: none;
/*visibility: hidden;
*/background:FFF;
    -moz-box-shadow: 0px 0px 10px #666;
    -webkit-box-shadow: 0px 0px 10px #666;
    box-shadow: 0px
}
	
.boomenu ul li ul li{
display: list-item;
float: none;
border-bottom: 1px solid #E9E9E9;	
}
	
.boomenu ul li ul li a {
    color: #9F9E9E !important;
}
.boomenu ul li ul li a:hover {
    color: #6F6E6E !important;
}
.boomenu ul li ul li:last-child {
    border-bottom: none;
}

